<div>
    <div class="top">
        <button class="btn-create-charity btn nav-item" routerLink="/createCharity"><clr-icon shape="plus"></clr-icon> Create charity</button>
        <form class="search">
            <input type="text" placeholder="Search for charities..." (input)="search($event)">

        </form>
    </div>
    <div class="charities-container">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <ng-container *ngFor="let charity of charities">
                <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                    <a routerLink="/charity/{{charity.id}}" class="card clickable">
                        <div class="card-img">
                            <img src="/assets/images/{{charity.image}}">
                        </div>
                        <div class="card-block">
                            <h3 class="card-text">
                                {{charity.name}}
                            </h3>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>