.charities-container {
    padding-bottom: 100px;
    margin: 1% 2% 2% 2%;
}

.top {
    position: relative;
}

.search {
    margin: 2%;
}

.btn-create-charity {
    position: absolute;
    margin-left: 88%;
}

.card-text {
    font-family: serif;
    font-size: 1rem;
}