.edit-charity-container {
    margin-left: 20%;
    margin-top: 20px;
}

.property-container {
    margin-top: 30px;
}

.property-label {
    padding: 5px;
}

.property-box {
    margin: 20px;
}

.update-btn {
    margin-top: 30px;
}