<div class="edit-charity-container">

    <div class="charity-info" *ngIf="charity">
        <div class="property-container">
            <label class="property-label" for="firstName">Charity Name:</label>
            <span class="property-box"> {{charity.name}}</span>
        </div>

        <div class="property-container">
            <label class="property-label" for="firstName">Description:</label>
            <span class="property-box"> {{charity.description}}</span>
        </div>

        <div class="property-container">
            <label class="property-label" for="firstName">Creator Name:</label>
            <span class="property-box"> {{charity.creator}}</span>
        </div>

        <form class="charity-form" clrForm clrLayout="vertical" (submit)="updateCharity()">
            <section class="form-block">
                <clr-control-container>
                    <label>Participants required</label>
                    <input type="number" min="0" oninput="validity.valid||(value='');" oninput="validity.valid||(value='');" name="participants" [(ngModel)]="charity.numberOfParticipants" />
                </clr-control-container>

                <clr-control-container>
                    <label>Total Budget</label>
                    <input type="number" min="0" oninput="validity.valid||(value='');" oninput="validity.valid||(value='');" name="budget" [(ngModel)]="charity.totalBudget" />
                </clr-control-container>
                <button class="update-btn btn btn-outline" type="submit">Update charity</button>
            </section>
        </form>

    </div>


</div>