<div class="container">
    <div class="charity-container">
        <div class=" clr-row">
            <div class="charity-details clr-col-lg-6 clr-col-12" *ngIf="this.charity && this.charityProgress">
                <div class="card">
                    <div class="card-header">
                        {{charity.name}}
                    </div>
                    <div class="card-block">
                        <div class="card-media-block">
                            <img src="/assets/images/{{charity.image}}" width="50%">
                            <div class="charity-progress">
                                <div class="charity-donation-progress">
                                    <span class="text-raised">{{charityProgress.donations}}</span>
                                    <span> raised of <span class="goal-money">{{charity.totalBudget}}</span></span>
                                    <button class="btn-donate btn btn-success-outline" (click)="openDonationModal()" *ngIf="calcMaxDonation()">Donate</button>
                                </div>

                                <div class="charity-participation-progress">
                                    <span class="participants">Volunteers</span>
                                    <span class="text-participants"> {{charityProgress.participants}}</span>
                                    <span class="goal-money">/ {{charity.numberOfParticipants}}</span>
                                    <button class="btn-donate btn btn-success-outline" (click)="openParticipantModal()" *ngIf="needsParticipant()">Participate</button>
                                </div>
                            </div>

                        </div>
                        <div class="card-text">
                            {{charity.description}}
                        </div>
                        <a class="share-twitter twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=Become%20a%20donator%20or%20a%20volunteer%20in%20our%20charity%20&#8221;{{charity.name}}&#8221;">
                            <clr-icon shape="share"></clr-icon> tweet </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="owner-buttons">
        <button class="btn-edit btn btn-danger btn-sm" routerLink="/editCharity/{{charity.id}}" *ngIf=canDelete()>Edit</button>
        <button class="btn-delete btn btn-danger btn-sm" (click)="deleteCharity()" *ngIf=canDelete()>Delete</button>
    </div>
</div>


<form (submit)="donate()">
    <clr-modal [(clrModalOpen)]="isDonateModalVisible" *ngIf="charityProgress">
        <div class="modal-title">Donate to {{charity.name}}</div>

        <div class="modal-body">
            <p>The max amount to donate is: {{calcMaxDonation()}}</p>

            <label>Donation</label>
            <input class="donation-amount" type="number" min="0" max="{{calcMaxDonation()}}" oninput="validity.valid||(value=' ');" name="participants" [(ngModel)]="donationDTO.donation" />
        </div>

        <div class="modal-footer">
            <button (click)="closeDonationModal()" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Donate</button>
        </div>
    </clr-modal>
</form>

<form (submit)="participate()">
    <clr-modal [(clrModalOpen)]="isParticipantModalVisible" *ngIf="charityProgress">
        <div class="modal-title">Participate in {{charity.name}}</div>

        <div class="modal-body">
            <h4>Hurry up someone may take your place!</h4>
        </div>

        <div class="modal-footer">
            <button (click)="closeParticipantModal()" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Participate</button>
        </div>
    </clr-modal>
</form>