.container {
    position: relative;
}

.owner-buttons {
    position: absolute;
    right: 2%;
    top: 2%;
}

.charity-container {
    width: 90%;
    margin: 0 auto;
}

.charity-details {
    width: 50%;
    margin: 0 auto;
}

.card-header {
    border: none;
    background-color: white;
}

.text-raised {
    font-size: 2.5rem;
    color: #b2bb1e;
    font-family: 'Open Sans';
    margin-left: 2rem;
    margin-right: 5px;
}

.goal-money {
    font-family: 'Open Sans';
}

.btn-donate {
    width: 80%;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.donation-amount {
    margin-left: 10px;
}

.charity-progress {
    position: relative;
}

.charity-participation-progress {
    position: absolute;
    top: 50%;
    height: 10rem;
}

.participants {
    font-family: 'Open Sans';
    margin-left: 2rem;
}

.text-participants {
    /* margin-left: 0.5rem; */
    margin-right: 0.5rem;
    font-size: 2.5rem;
    color: #b2bb1e;
    font-family: 'Open Sans';
}