<div class="register-form-container">
    <form class="register-form" clrForm clrLayout="vertical" (submit)="submit()">
        <div class="container">
            <clr-control-container>
                <label for="basic" class="clr-control-label">First Name</label>
                <input clrControl placeholder="First name" name="firstName" [(ngModel)]="user.firstName" required />
                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
            </clr-control-container>
        </div>

        <div class="container">
            <clr-control-container>
                <label for="basic" class="clr-control-label">Last Name</label>
                <input clrControl placeholder="Last name" name="lastName" [(ngModel)]="user.lastName" required />
                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
            </clr-control-container>
        </div>

        <div class="container">
            <clr-control-container>
                <label for="basic" class="clr-control-label">Username</label>
                <input clrControl placeholder="Username" name="username" [(ngModel)]="user.username" required />
                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
            </clr-control-container>
        </div>

        <div class="container">
            <clr-password-container>
                <label>Password</label>
                <input placeholder="Password" clrPassword [(ngModel)]="user.password" name="password" required minlength="4" />
                <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">It must be at least 4 characters!</clr-control-error>
            </clr-password-container>
        </div>

        <div class="container">
            <clr-control-container>
                <label>Age</label>
                <input type="number" min="0" max="120" oninput="validity.valid||(value='');" oninput="validity.valid||(value='');" name="participants" [(ngModel)]="user.age" />
            </clr-control-container>
        </div>

        <div class="container">
            <clr-radio-container clrInline>
                <label>Gender</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="gender" required value="male" [(ngModel)]="user.gender" />
                    <label>Male</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="gender" required value="femlae" [(ngModel)]="user.gender" />
                    <label>Female</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="gender" required value="other" [(ngModel)]="user.gender" />
                    <label>Other</label>
                </clr-radio-wrapper>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-radio-container>
        </div>

        <div class="container">
            <clr-control-container>
                <label for="basic" class="clr-control-label">Country</label>
                <select clrSelect name="country" [(ngModel)]="user.country">
                    <ng-container *ngFor="let country of countries">
                    <option value="{{country.countryName}}">{{country.countryName}}</option>
                    </ng-container>
                  </select>
            </clr-control-container>
        </div>



        <button class="register-btn btn btn-outline" type="submit">Register</button>
    </form>
</div>