<header class="header-4">
    <div class="branding">
        <a routerLink="/" class="nav-link">
            <clr-icon shape="network-globe"></clr-icon>
            <span class="title">Project Network of Giving</span>
        </a>
    </div>


    <div class="header-actions">
        <a routerLink="/login" class="nav-link nav-text" [hidden]="isAuthenticated()">
            Login
        </a>

        <a routerLink="/register" class="nav-link nav-text" [hidden]="isAuthenticated()">
        Register
        </a>

        <a routerLink="/profile" class="nav-link nav-text" [hidden]="!isAuthenticated()">
            Profile
        </a>

        <a (click)="showLogOutModal()" class="nav-link nav-text" [hidden]="!isAuthenticated()">
        Logout
        </a>
    </div>
</header>

<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/main">Charities</a>
        </li>
    </ul>
</nav>

<div class="container-main">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>


<clr-modal [(clrModalOpen)]="isLogOutModalVisible">
    <!-- <div>Participate in {{charity.name}}</div> -->

    <div class="modal-body">
        <h4>Are you sure you want to log out?</h4>
    </div>

    <div class="modal-footer">
        <button (click)="closeLogoutModal()" class="btn btn-default">Cancel</button>
        <button (click)="logout()" class="btn btn-primary">Log Out</button>
    </div>
</clr-modal>