<div class="login-wrapper">
    <form class="login" (submit)="login()">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Network of Giving
        </label>
        <div class="login-group">
            <input class="username" type="text" name="login_username" placeholder="Username" [(ngModel)]="credentials.username">
            <input class="password" type="password" name="login_password" placeholder="Password" [(ngModel)]="credentials.password">

            <div class="error active" hidden=[true]>
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a routerLink="/register" class="signup">Register</a>
        </div>
    </form>
</div>