.charity-form-container {
    width: 40%;
    margin: 100px auto;
    background-color: white;
}

.charity-form {
    width: 40%;
    margin: 0 auto;
}

.create-btn {
    width: 100%;
    margin-top: 30px;
}