<div class="container">
    <div class="charity-form-container">
        <form class="charity-form" clrForm clrLayout="vertical" (submit)="submit()">
            <section class="form-block">

                <clr-control-container>
                    <label>Charity name</label>
                    <input clrControl placeholder="Charity name" name="name" [(ngModel)]="charity.name" required minlength="5" />
                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                    <clr-control-error *clrIfError="'minlength'; error as err">Must be at least {{ err.requiredLength }} characters
                    </clr-control-error>
                </clr-control-container>

                <clr-control-container>
                    <label for="example" class="clr-control-label">Image</label>
                    <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                            <input type="file" class="clr-input" name="image" (change)="onFileSelected($event)">
                        </div>
                    </div>
                </clr-control-container>

                <clr-textarea-container>
                    <label>Description</label>
                    <textarea clrTextarea cols="29" [(ngModel)]="charity.description" name="description" required></textarea>
                    <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
                </clr-textarea-container>

                <clr-control-container>
                    <label>Participants required</label>
                    <input type="number" min="0" oninput="validity.valid||(value='');" oninput="validity.valid||(value='');" name="participants" [(ngModel)]="charity.numberOfParticipants" />
                </clr-control-container>

                <clr-control-container>
                    <label>Total Budget</label>
                    <input type="number" min="0" oninput="validity.valid||(value='');" oninput="validity.valid||(value='');" name="budget" [(ngModel)]="charity.totalBudget" />
                </clr-control-container>

                <button class="create-btn btn btn-outline" type="submit">Create charity</button>
            </section>
        </form>
    </div>
</div>