<div class="container">
    <div class="user-info" *ngIf="user">
        <div class="property-container">
            <label class="property-label" for="firstName">First Name:</label>
            <span class="property-box">{{user.firstName}}</span>
        </div>

        <div class="property-container">
            <label class="property-label" for="firstName">Last Name:</label>
            <span class="property-box"> {{user.lastName}}</span>
        </div>

        <div class="property-container">
            <label class="property-label" for="firstName">Username :</label>
            <span class="property-box"> {{user.username}}</span>
        </div>

        <div class="property-container">
            <label class="property-label" for="firstName">Age :</label>
            <span class="property-box"> {{user.age}}</span>
        </div>

        <div class="property-container">
            <label class="property-label" for="firstName">Country :</label>
            <span class="property-box"> {{user.country}}</span>
        </div>
    </div>
</div>